.select {
    position:absolute;
    top:84px;
    right:0;
    appearance: none;
    width: 135px;
    height: 24px;
    padding-left: 10px;
    color: #212529;

    background-color: rgba(255, 255, 255, 0.91);
    background-clip: padding-box;
    border: 1px solid #bdbdbd;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition-property: all; transition-duration: 0.5s; transition-delay: 0s; transition-timing-function: ease-out;
    background-image: url('chevron-down.svg');
    background-position: right center;
    background-repeat: no-repeat;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 14px;
    cursor: pointer;

}

.select:focus {
    outline: none;
}


.option:hover {
    transition: all 0.2s ease-in-out;
    background: red;
    box-shadow: 0 0 10px 100px #fed20f inset;
}
@media   (max-width: 448px) {
    .select {
        top:123px;
        /*display: none;*/

    }
}